
p {
  font-family: arial;
  color:       red;
  font-size:   10px;
}

table {
  padding: 0px;
  spacing: 0px;
  border:  1px solid black;
  border-collapse:collapse;
}
  

th {
  padding:     0px;
  border:      1px solid black;
  font-style:  bold;
  height:      40px;
  font-family: verdana;
  color:       black;
  font-size:   12px;
}

td {
  padding:        0px;
  border:         1px solid black;
  width:          400px;
  text-align:     center;
  vertical-align: middle;
  font-family:    verdana;
  color:          black;
  font-size:      12px;
 
}

